{* layout '../../../templates/@layout.latte' *}

{block content}

    {* include '../../../templates/@menu.latte' *}
    <link rel="stylesheet" type="text/css" href="{$basePath}/css/bootstrap/jquery.datatables.css">

    <div class="mainpanel">
        {* include '../@header.latte' *}

        <div class="pageheader">
            <h2><i class="glyphicon glyphicon glyphicon-envelope"></i>_some.title</h2>
        </div>

        <div class="contentpanel">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">_some.title</h4>
                </div>
                <div class="panel-body">
                   <div class="row">
				      <div class="col-sm-6 col-md-3">
				        <div class="panel panel-primary panel-stat">
				          <div class="panel-heading">
				            
				            <div class="stat">
				              <div class="row">
				                <div class="col-xs-12">
				                  <small class="stat-label">Doba posledního sekání</small>
				                  <h1>{$lastCuttingPeriod}</h1>
				                </div>
				              </div><!-- row -->
				              
				              <div class="mb15"></div>
				              
				              <small class="stat-label">Průmerná doba sekání</small>
				              <h4>{$avgCuttingPeriod}</h4>
				                
				            </div><!-- stat -->
				            
				          </div><!-- panel-heading -->
				        </div><!-- panel -->
				      </div>

				      <div class="col-sm-6 col-md-3">
				        <div class="panel panel-success panel-stat">
				          <div class="panel-heading">
				            
				            <div class="stat">
				              <div class="row">
				                <div class="col-xs-12">
				                  <small class="stat-label">Doba posledního kultivace</small>
				                  <h1>{$lastCultivationPeriod}</h1>
				                </div>
				              </div><!-- row -->
				              
				              <div class="mb15"></div>
				              
				              <small class="stat-label">Průmerná doba kultivace</small>
				              <h4>{$avgCultivationPeriod}</h4>
				                
				            </div><!-- stat -->
				            
				          </div><!-- panel-heading -->
				        </div><!-- panel -->
				      </div>

				      <div class="col-sm-6 col-md-3">
				        <div class="panel panel-default panel-stat">
				          <div class="panel-heading">
				            
				            <div class="">
				              <div class="row">
				                <div class="col-xs-12">
				                  <small class="stat-label">Spotřeba hnojiva</small>
				                  <h1>{$manureConsumption}</h1>
				                </div>
				              </div><!-- row -->                  
				            </div><!-- stat -->
				            
				          </div><!-- panel-heading -->
				        </div><!-- panel -->
				      </div>

				      <div class="col-sm-6 col-md-3">
				        <div class="panel panel-default panel-stat">
				          <div class="panel-heading">
				            
				            <div class="">
				              <div class="row">
				                <div class="col-xs-12">
				                  <small class="stat-label">Hodiny do návštevy servisu</small>
				                  <h1>{$hoursToServis}</h1>
				                </div>
				              </div><!-- row -->                  
				            </div><!-- stat -->
				            
				          </div><!-- panel-heading -->
				        </div><!-- panel -->
				      </div>
				    </div>
                </div>
            </div>
        </div>
    </div>
{/block}